* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#back-top {
    height: 20vh;
    background-color: #53b7c3;
}

#back-down {
    height: 80vh;
    background-color: hotpink;
}

#container-app {
    width: 80%;
    height: 95vh;
    position: absolute;
    /* do lo sfondo bianco altrimenti con gli oggetti in trasparenza vedo la barra verde che sta sotto */
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col-sx {
    width: 38%;
    height: 100%;
    float: left;
    border-right: 1px solid #80808057;
}

.col-dx {
    width: 62%;
    height: 100%;
    float: right;
}



/* col sx */
#col-sx-up {
    height: 210px;
}

#col-sx-down {
    max-height: calc( 100% - 210px);
    /* min-height: 200px; */
    overflow: auto;
}


/* profile */
.profile {
    background-color: #eaeaea;
    height: 75px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-profile {
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
}

.info-profile img {
    max-height: 60px;
    border-radius: 50%;
    margin-right: 4px;
}

#font-bold {
    font-weight: bold;
}

.icon {
    width: 140px;
    display: flex;
    justify-content: space-around;
    color: #b1b1b1;
    font-size: 25px;
}

/* enable notification */
#enable-notif {
    height: 80px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

#bell {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8edafc;
    font-size: 22px;
    margin-right: 7px;
}

#text-not div {
    color: #507485;
    margin-top: 5px;
    text-decoration: underline;
}


/* search */
#search {
    height: 55px;
    display: flex;
    align-items: center;
    background-color: #eaeaea8a;

}

#back-color {
    height: 70%;
    width: 95%;
    margin: 0 auto;
    background-color: white;
    padding-left: 25px;
    display: flex;
    align-items: center;
}

#search i {
    font-size: 16px;
    color: #b1b1b1;
    margin-right: 15px;
}

#search input {
    border: none;
    max-width: 500px;
    width: 100%;
    height: 30px;
    padding: 5px;
}

/* contacts */
.contact {
    padding: 0 5px 0 25px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #eaeaea;
}

.active {
    background-color: #eaeaea;
}

.info-contact {
    display: flex;
}

.contact img {
    max-height: 60px;
    border-radius: 50%;
    margin-right: 4px;
}

.info-contact span {
    vertical-align: top;
    font-size: 20px;
}

.text-container div {
    font-size: 12px;
    color: #b5b9bb;
    font-weight: bold;
}

.data-chat {
    height: 100%;
    padding: 5px;
    font-size: 12px;
    color: #b1b1b1;
}

/* col dx */
/* profile selected */
/* le altre proprieta sono nella sezione dei contatti, ho sfruttato quelle classi per non riscrivere le stesse cose */
.profile .text-container span {
    font-size: 20px;
}
.profile .text-container div {
    margin-top: 5px;
    font-size: 14px;
    color: grey;
}

/* chat */
#chat {
    background-image: url(../img/back-whatapp.webp);
    height: calc(100% - 150px);
}

.layover {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    padding: 20px 0;
}
.container-mex {
    min-height: 40px;
}

.mex-layout {
    width: 35%;
    margin:10px 30px;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.data {
    display: flex;
    justify-content: end;
    font-size: 12px;
    color: #b5b9bb;
    font-weight: bold;
}

.sent {
    float: right;
    background-color: #d5f9ba;
}

.received {
    float: left;
    background-color: white;
}
    
/* text area */
#text-area {
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eaeaea;
}

#text-area i {
    color: #b1b1b1;
    font-size: 25px;
}

#text-area input {
    width: 80%;
    height: 45px;
    border: none;
    padding: 7px;
}