<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <!-- background -->
    <div class="background">
        <div id="back-top"></div>
        <div id="back-down"></div>
    </div>
    <!-- /background -->

    <!-- main -->
    <div id="container-app" class="clearfix">
        <!-- column sx -->
        <div class="col-sx">

            <!-- top section  -->
            <div id="col-sx-up">
                <!-- profilo: ho generalizzato questa sezione per utilizzarla in più parti della pagina-->
                <section class="profile">
                    <div class="info-profile">
                        <img src="img/avatar_1.jpg" alt="image of profile">
                        <span>Nome Utente</span>
                    </div>
                    
                    <div class="icon">
                        <i class="fas fa-redo-alt"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </section>


                <!-- enable notifications -->
                <section id="enable-notif">

                </section>
                <!-- ricerca -->
                <section id="search">
                    <div id="back-color">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div> 
                </section>
            </div>

            <!-- contatti -->
            <div id="col-sx-down" >
                <section class="contact" v-for="contact, i in contacts">
                        <div class="info-contact">
                            <img :src="contact.avatar " :alt="`image of ${contact.name}`">
                            <div class="text-container">
                                <span>{{contact.name}}</span>
                                <div>...</div>
                            </div>
                        </div>
                        
                        <div class="data-chat">
                           11/10/20 16:15:22
                        </div>
    
                    <!-- </section> -->
                </section>
            </div>
        </div>
        <!-- /column sx -->


        <!-- column dx -->
        <div class="col-dx">
            <!-- profilo selezionato -->
            <section class="profile">
                <div class="info-profile">
                    <img src="img/avatar_1.jpg" alt="image of profile">
                    <span>Nome Utente</span>
                </div>
                
                <div class="icon">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

            </section>
            <!-- chat -->
            <div id="chat" v-for="chat, i in messages ">
                <div class="layover">
                    <!-- messaggi di debug -->
                    <div class="container-mex">
                        <div class="mex-layout" :class="chat.status === 'sent'? 'sent' : 'received'"> {{messages.chat[i]}}</div>
                    </div>
                    <!-- <div class="container-mex">
                        <div class="mex-layout received"> ciao come stai</div>
                    </div>
                    <div class="container-mex">
                        <div class="mex-layout sent"> ciao come stai</div>
                    </div>
                    <div class="container-mex">
                        <div class="mex-layout received"> ciao come stai</div>
                    </div> -->
                </div>
                
            </div>
            <!-- casella di testo -->

        </div>
        <!-- /column dx -->

    </div>
    <!-- /main -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/database.js"></script>
    <script src="js/script.js"></script>
</body>
</html>