<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <!-- background -->
    <div class="background">
        <div id="back-top"></div>
        <div id="back-down"></div>
    </div>
    <!-- /background -->

    <!-- main -->
    <div id="container-app" class="clearfix">
        <!-- column sx -->
        <div class="col-sx">

            <!-- top section  -->
            <div id="col-sx-up">
                <!-- profilo: ho generalizzato questa sezione per utilizzarla in più parti della pagina-->
                <section class="profile">
                    <div class="info-profile">
                        <img src="img/avatar_1.jpg" alt="image of profile">
                        <span id="font-bold">Maurizio Proietto</span>
                    </div>
                    
                    <div class="icon">
                        <i class="fas fa-redo-alt"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </section>


                <!-- enable notifications -->
                <section id="enable-notif">
                    <div id="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div id="text-not">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <div>Attiva notifiche desktop</div>
                    </div>
                </section>
                <!-- ricerca -->
                <section id="search">
                    <div id="back-color">
                        <i class="fas fa-search"></i>
                        <input type="text" v-model="search" placeholder="Cerca o inizia una nuova chat">
                    </div> 
                </section>
            </div>

            <!-- contatti -->
            <div id="col-sx-down" >
                <!-- container contatti -->
                <section class="contact" :class="i === chatActive ? 'active':''" v-for="contact, i in contacts" :key="i" @click="openChat(i)" v-if="contact.name.toLowerCase().includes(search.toLowerCase())">
                        <div class="info-contact">
                            <img :src="contact.avatar " :alt="`image of ${contact.name}`">
                            <!-- userò la classe qui sotto anche nella sezione del profilo selezionato -->
                            <div class="text-container">
                                <span>{{contact.name}}</span>
                                <div>{{contact.messages[contact.messages.length - 1].text.slice(0,15)}}...</div>
                            </div>
                        </div>
                        
                        <div class="data-chat">
                            {{contact.messages[contact.messages.length - 1].date}}
                        </div>
                </section>
                <!-- container contatti -->


            </div>
        </div>
        <!-- /column sx -->


        <!-- column dx -->
        <div class="col-dx">
            <!-- profilo selezionato -->
            <section class="profile">
                <div class="info-profile">
                    <img :src="contacts[chatActive].avatar" :alt="`image of ${contacts[chatActive].name}`">
                    <div class="text-container">  <!-- text-container l'ho riutilizzato dalla sezione contatti -->
                        <span>{{contacts[chatActive].name}}</span>
                        <div> {{contacts[chatActive].messages[contacts[chatActive].messages.length - 1].date}}</div>
                    </div>
                </div>
                
                <div class="icon">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

            </section>
            <!-- chat -->
            <div id="chat" >
                <div class="layover">

                    <!-- container messaggi -->
                    <div class="container-mex clearfix" v-for="item in contacts[chatActive].messages">
                        <div class="mex-layout" :class="item.status" > 
                            <span>{{item.text}}</span> 
                            <div class="data">
                                <span>{{item.date}}</span>
                            </div>
                        </div>
                    </div>   
                    <!-- /container messaggi -->

                </div>
            </div>
            <!-- /chat -->

            <!-- casella di testo -->
            <div id="text-area">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" @keydown.enter="sendMessage($event)">
                <i class="fas fa-microphone"></i>
            </div>
        </div>
        <!-- /column dx -->

    </div>
    <!-- /main -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/script.js"></script>
</body>
</html>